.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-items
      .chat-main__group-info__left-items__current-group
        TEST-group
      .chat-main__group-info__left-items__member-list
        Member: hiroshi
    .chat-main__group-info__right-item
      .chat-main__group-info__right-item__btn-border
        .chat-main__group-info__right-item__btn-border__edit-btn
          =link_to "Edit", "#"
  .chat-main__messages
  .chat-main__message-form