.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        ooya
      %ul.side-bar__user-name__top-items__icons
        %li.side-bar__user-name__top-items__btn-left
          =link_to "#", class: "top-items__btn top-items__btn--left" do
            = icon('far', 'edit', class: "top-items__btn--icon")
            %span<>
        %li.side-bar__user-name__top-items__btn-right
          =link_to "#", class: "top-items__btn top-items__btn--right" do
            = icon('fas', 'cog', class: "top-items__btn--icon")
            %span<>
  .side-bar__group-list