* {
  box-sizing: border-box;
}

// font-color font-size
$side-bar_font-color: #fff;
$chat-main_font-color_title: #333;
$chat-main_font-color_sub: #999;
$chat-main_font-color_text: #434a54;
$chat-main_font-color_edit: #38aef0;
$font-size_11: 11px;
$font-size_12: 12px;
$font-size_14: 14px;
$font-size_15: 15px;
$font-size_16: 16px;
$font-size_20: 20px;

// background-size
@mixin background-size($height, $width) {
  height: $height;
  width: $width;
}

.wrapper {
  @include background-size(100vh, 100vw);
  display: flex;
  .side-bar {
    @include background-size(100%, 300px);
    &__user-name {
      @include background-size(100px, 100%);
      background-color: #253141;
      display: flex;
      align-items: center;
      &__top-items {
        @include background-size(20px, 260px);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        &__name {
          @include background-size(100%, calc(100% - 60px));
          color: $side-bar_font-color;
          font-size: $font-size_16;
          line-height: 20px;
        }
        &__icons {
          @include background-size(100%, 60px);
          line-height: 20px;
          display: flex;
          justify-content: flex-end;
          li {
            margin-left: 5px;
            a {
              color: $side-bar_font-color;
            }
          }
        }
      }
    }
    &__group-list {
      background-color: #2f3e51;
      @include background-size(calc(100vh - 100px), 100%);
      padding: 20px 20px 0 20px;
      &__top-items {
        @include background-size(31px, 100%);
        margin-bottom: 40px;
        &__group-name {
          @include background-size(15px, 100%);
          margin-bottom: 5px;
          line-height: 15px;
          a {
            color: $side-bar_font-color;
            font-size: $font-size_15;
            font-weight: bold;
            text-decoration: none;
          }
        }
        &__message {
          @include background-size(11px, 100%);
          line-height: 11px;
          a {
            color: $side-bar_font-color;
            font-size: $font-size_11;
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
      &__top-items2 {
        @extend .side-bar__group-list__top-items;
      }
    }
  }
  .chat-main {
    @include background-size(100%, calc(100vw - 300px));
    &__group-info {
      @include background-size(100px, 100%);
      background-color: #fff;
      border-bottom: solid 1px #eee;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      &__left-items {
        @include background-size(100%, 200px);
        &__current-group {
          @include background-size(20px, 100%);
          margin-top: 35px;
          color: $chat-main_font-color_title;
          font-size: $font-size_20;
          line-height: 20px;
        }
        &__member-list {
          @include background-size(12px, 100%);
          margin-top: 15px;
          color: $chat-main_font-color_sub;
          font-size: $font-size_12;
          line-height: 12px;
        }
      }
      &__right-item {
        @include background-size(100%, 72px);
        &__btn-border {
          @include background-size(40px, 100%);
          margin-top: 28px;
          border: 1px solid $chat-main_font-color_edit;
          display: flex;
          justify-content: center;
          align-items: center;
          &__edit-btn {
            @include background-size(40px, 100%);
            line-height: 40px;
            text-align: center;
            a {
              color: $chat-main_font-color_edit;
              font-size: $font-size_16;
              padding: 12px 22px;
              text-decoration: none;
            }
          }
        }
      }
    }
    &__messages {
      background-color: #fafafa;
      @include background-size(calc(100vh - 100px - 90px), 100%);
      padding: 35px 40px 0 40px;
      &__message {
        @include background-size(88px, 100%);
        &__info {
          @include background-size(16px, 100%);
          margin-bottom: 12px;
          display: flex;
          justify-content: left;
          &__talker {
            @include background-size(100%, 25%);
            color: $chat-main_font-color_title;
            font-size: $font-size_16;
            line-height: 16px;
          }
          &__date {
            @include background-size(100%, 25%);
            color: $chat-main_font-color_sub;
            font-size: $font-size_12;
            line-height: 16px;
          }
        }
        &__text {
          @include background-size(14px, 100%);
          margin-bottom: 46px;
          color: $chat-main_font-color_text;
          font-size: $font-size_14;
          line-height: 14px;
        }
      }
      &__message2 {
        @extend .chat-main__messages__message;
      }
    }
    &__message-form {
      background-color: #d2d2d2;
      @include background-size(90px, 100%);
      padding: 20px 40px;
      &__new-message {
        @include background-size(50px, calc(100vw - 300px - 40px - 40px));
        display: flex;
        justify-content: space-between;
        &__box {
          @include background-size(100%, calc(100% - 72px - 15px));
          background-color: #fff;
          position: relative;
          &__text {
            @include background-size(100%, 100%);
            padding-left: 10px;
            border-style: none;
          }
          &__image {
            @include background-size(100%, 50px);
            position: absolute;
            top: 0;
            left: calc(100% - 50px - 10px);
            display: flex;
            justify-content: center;
            align-items: center;
            &__icon {
              font-size: 1.5em;
            }
            &__file {
              display: none;
            }
          }
        }
        &__right-item {
          @include background-size(100%, 72px);
          &__btn-border {
            @include background-size(50px, 100%);
            background-color: $chat-main_font-color_edit;
            border: 1px solid $chat-main_font-color_edit;
            display: flex;
            justify-content: center;
            align-items: center;
            &__submit-btn {
              @include background-size(50px, 100%);
              line-height: 50px;
              text-align: center;
              a {
                color:$side-bar_font-color;
                font-size: $font-size_16;
                padding: 17px 20px;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}