* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  .side-bar {
    // background-color: #253141;
    height: 100%;
    width: 300px;
    &__user-name {
      background-color: #253141;
      height: 100px;
      width: 100%;
      display: flex;
      align-items: center;
      &__top-items {
        // background-color: #aaa;
        height: 20px;
        width: 260px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        &__name {
          // background-color: red;
          height: 100%;
          width: calc(100% - 60px);
          color: #fff;
          font-size: 16px;
          line-height: 20px;
        }
        &__icons {
          // background-color: pink;
          height: 100%;
          width: 60px;
          line-height: 20px;
          display: flex;
          justify-content: flex-end;
          li {
            margin-left: 5px;
            a {
              color: #fff;
              font-size: 16px;
            }
          }
        }
      }
    }
    &__group-list {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      width: 100%;
      padding: 20px 20px 0 20px;
      color: #fff;
      font-weight: bold;
      &__top-items {
        // background-color: pink;
        height: 31px;
        width: 100%;
        margin-bottom: 40px;
        &__group-name {
          // background-color: green;
          height: 15px;
          width: 100%;
          margin-bottom: 5px;
          line-height: 15px;
          a {
            height: 100%;
            width: 100%;
            color: white;
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
          }
        }
        &__message {
          // background-color: blue;
          height: 11px;
          width: 100%;
          line-height: 11px;
          a {
            height: 100%;
            width: 100%;
            color: white;
            font-size: 11px;
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }
  }
  .chat-main {
    // background-color: #fff;
    height: 100%;
    width: calc(100vw - 300px);
    &__group-info {
      background-color: #fff;
      height: 100px;
      width: 100%;
      border-bottom: solid 1px #eee;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      &__left-items {
        // background-color: pink;
        height: 100%;
        // widthは仮の値
        width: 200px;
        &__current-group {
          // background-color: yellowgreen;
          height: 20px;
          width: 100%;
          margin-top: 35px;
          color: #333;
          font-size: 20px;
          line-height: 20px;
        }
        &__member-list {
          // background-color: lightskyblue;
          height: 12px;
          width: 100%;
          margin-top: 15px;
          color: #999;
          font-size: 12px;
          line-height: 12px;
        }
      }
      &__right-item {
        // background-color: yellow;
        height: 100%;
        width: 72px;
        &__btn-border {
          // background-color: whitesmoke;
          height: 40px;
          width: 100%;
          margin-top: 28px;
          border: 1px solid #38aef0;
          display: flex;
          justify-content: center;
          align-items: center;
          &__edit-btn {
            // background-color: red;
            height: 40px;
            width: 100%;
            line-height: 40px;
            text-align: center;
            a {
              color: #38aef0;
              font-size: 16px;
              padding: 12px 22px;
              text-decoration: none;
            }
          }
        }
      }
    }
    &__messages {
      background-color: #fafafa;
      height: calc(100vh - 100px - 90px);
      width: 100%;
      padding: 35px 40px 0 40px;
      &__message {
        // background-color: darkgoldenrod;
        height: 88px;
        width: 100%;
        &__info {
          // background-color: darkgray;
          height: 16px;
          width: 100%;
          margin-bottom: 12px;
          display: flex;
          justify-content: left;
          &__talker {
            // background-color: darksalmon;
            height: 100%;
            // width仮
            width: 25%;
            color: #333;
            font-size: 16px;
            line-height: 16px;
          }
          &__date {
            // background-color: red;
            height: 100%;
            // width仮
            width: 25%;
            color: #999;
            font-size: 12px;
            line-height: 16px;
            
          }
        }
        &__text {
          // background-color: darkred;
          height: 14px;
          width: 100%;
          margin-bottom: 46px;
          color: #434a54;
          font-size: 14px;
          line-height: 14px;
        }
      }
      &__message2 {
        // background-color: darkgoldenrod;
        height: 88px;
        width: 100%;
        &__info {
          // background-color: darkgray;
          height: 16px;
          width: 100%;
          margin-bottom: 12px;
          display: flex;
          justify-content: left;
          &__talker {
            // background-color: darksalmon;
            height: 100%;
            // width仮
            width: 25%;
            color: #333;
            font-size: 16px;
            line-height: 16px;
          }
          &__date {
            // background-color: red;
            height: 100%;
            // width仮
            width: 25%;
            color: #999;
            font-size: 12px;
            line-height: 16px;
            
          }
        }
        &__text {
          // background-color: darkred;
          height: 14px;
          width: 100%;
          margin-bottom: 46px;
          color: #434a54;
          font-size: 14px;
          line-height: 14px;
        }
      }
    }
    &__message-form {
      background-color: #d2d2d2;
      height: 90px;
      width: 100%;
    }
  }
}